<% include ./partials/header %>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="navbar-brand"  style="background: transparent"><a href="/welcome">Setup</a></h1>
      </div>
    </nav>
    <form role="form" id="contact-form" name="contact-form" method="post" action="/setup" class="contact-form">
      <div >
        <h3 style="background: transparent; text-align: center;"> User Information</h3>
      </div>
      <div class="form-group col-md-6">
        <label  for="firstname">First Name</label>
        <input required type="text" class="form-control" id="firstname" name="firstname" value=<%= user.firstname %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="lastname">Last Name</label>
        <input required type="text" class="form-control" id="lastname" name="lastname" value=<%= user.lastname %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="email">Email</label>
        <input required type="text" class="form-control" id="email" name="email" value=<%= user.email %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="username">Username</label>
        <input required type="text" class="form-control" id="username" name="username" readonly value=<%= user.username %> >
      </div>

      <div class="form-group col-md-6">
      <label for="genderPreference">Gender Preference</label>
      <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
        <option selected value="Both">Choose...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Both">Both</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="gender">Gender</label>
      <select class="form-control col-md-6" id="gender"  name="gender">
        <option selected value="Other">Choose...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
      <div >
        <h3  style="background: transparent; text-align: center;"> Select Interests</h3>
      </div>
      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="LPCheck" name="LP">
        <label class="form-check-label" for="LPCheck">Live Perfomances</label>
      </div>
      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="NOCheck" name="NO">
        <label class="form-check-label" for="NOCheck">Nature Outdoor</label>
      </div>

      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="LWCheck" name="LW">
        <label class="form-check-label" for="LWCheck">Long Walks</label>
      </div>
      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="SECheck" name="SE">
        <label class="form-check-label" for="SECheck">Sports Events</label>
      </div>

      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="MVCheck" name="MV">
        <label class="form-check-label" for="MVCheck">Movies</label>
      </div>
      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="RDCheck" name="RD">
        <label class="form-check-label" for="RDCheck">Reading</label>
      </div>

      <div class="form-group col-md-6" id="lon">
        <label  for="longitude">Longitude</label>
        <input required type="text" class="form-control" id="longitude" name="latitude" readonly value=<%= user.longitude %> >
      </div>

      <div class="form-group col-md-6" id="lat">
        <label  for="latitude">Latitude</label>
        <input required type="text" class="form-control" id="latitude" name="latitude" readonly value=<%= user.latitude %> >
      </div>
      <button type="button" class="btn btn-lg btn-info" onclick="showPosition();">Get Location</button>
      <input id="submit-button" type="submit" class="btn btn-lg btn-info" value="Save Changes">
    </form>
  </div>
</header>

<script src="js/jquery.min.js"></script>
<script src="js/location.js"></script>
</body>
</html>
